body{
font-family:Arial;
background:#f2f2f2;
margin:0;
}

header{
background:#0b5d35;
color:white;
text-align:center;
padding:20px;
}

.logo{
width:100px;
}

.menu{
text-align:center;
margin:20px;
}

.menu a{
background:#0b5d35;
color:white;
padding:10px 20px;
margin:5px;
text-decoration:none;
}

.container{
width:500px;
margin:auto;
background:white;
padding:20px;
}

input,select{
width:100%;
padding:8px;
margin-bottom:15px;
}

button{
background:#0b5d35;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

table{
background:white;
border-collapse:collapse;
}

th{
background:#0b5d35;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
}
